<div class="substance_left">
	<ul class="nav nav-pills nav nav-stacked" >
		<li><a href="{% url 'student_subscribe' %}">选课</a></li>
		<li><a href="{% url 'student_unsubscribe' %}">退课</a></li>
        <li><a href="{% url 'student_list_lesson' %}">查看已选课程</a></li>
        <li><a href="{% url 'student_list_experiment' %}">查看实验</a></li>
		<li><a href="{% url 'search_lesson_by_student' %}">课程搜索</a></li>
		<li><a href="#">选项6</a></li>
		<li><a href="#">选项7</a></li>
		<li><a href="#">选项8</a></li>
		<li><a href="#">选项9</a></li>
		<li><a href="#">选项10</a></li>
	</ul>
</div>

