{% extends "student/dashboard.html" %}


{% block title %}查看课程信息{% endblock %}


{% block right %}
<div class="panel-group" id="accordion">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h4 class="panel-title font-strong align-center">
                    课程信息
                </h4>
            </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                {% include "experiment/_lesson_info.html"%}
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <h4 class="panel-title font-strong align-center">
                    实验列表( {{ experiment_list|length }} )
                </h4>
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                {% include "experiment/_experiment_list_for_student.html"%} 
            </div>
        </div>
    </div>
</div>
{% endblock %}
