<form role="form" id="create_goods" enctype="multipart/form-data" action="#" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="category_list">请选择商品种类</label>
        <select class="form-control" name="category" required="required" >
            {% for item in categories %}
            <option value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="name">商品名称</label>
        <input type="text" maxlength="30" id="goods_name" placeholder="请输入商品名称" class="form-control" name="title" required="required" />
    </div>
    <div class="form-group">
        <label for="content">商品描述</label>
        <textarea class="form-control" rows="5" id="goods_description" placeholder="请输入商品标题" name="description" required="required"></textarea>
    </div>
    <div class="form-group">
        <label for="name">联系方式</label>
        <input type="text" maxlength="30" id="contact" placeholder="请说明您的联系方式,可以是QQ，E-mail或手机号码等" class="form-control" name="contact" required="required" />
    </div>
    <div class="form-group">
        <label for="goods_price">价格</label>
        <input type="text" maxlength="30" id="contact" placeholder="请输入您商品的价格" class="form-control" name="price" required="required" />
    </div>
   <div class="form-group">
        <label for="goods_cover">上传图片</label>
        <input type="file" id="goods_cover" name="goods_cover"/>
        <p class="help-block">您上传的第一张照片将作为商品封面.</p>
        <label for="goods_cover">细节图1</label>
        <input type="file" id="goods_photo" name="goods_photo"/>
        <label for="goods_cover">细节图2</label>
        <input type="file" id="goods_photo_2" name="goods_photo_2"/>
        <label for="goods_cover">细节图3</label>
        <input type="file" id="goods_photo_3" name="goods_photo_3"/>
        <label for="goods_cover">细节图4</label>
        <input type="file" id="goods_photo_4" name="goods_photo_4"/>
        <label for="goods_cover">细节图5</label>
        <input type="file" id="goods_photo_5" name="goods_photo_5"/>
</div>
    <div>
        <button type="submit_goods" id="submit_goods" class="btn btn-primary btn-lg" name="submit">提交</button>
        <button type="reset" class="btn btn-primary btn-lg" name="reset">重置</button>
    </div>
</form>
