{% load staticfiles %}
<table class="table table-hover" id="lesson_list">
    {% if goods %}
    <thead class="align-center">
        <th class="align-center">商品展示</th>
        <th class="align-center">商品名称</th>
        <th class="align-center">价格</th>
        <th class="align-center">发布时间</th>
    </thead>
    <tbody class="align-center" id="lesson_list">
        {% for item in goods %}
        <tr>
            <td><a href=""><img src='/{{ item.goods_cover }}'alt="商品图片" width="80px" height="60px"/></a></td>
            <td valign="bottom"><a href="">{{ item.title }}</a></td>
            <td><a href="">{{ item.price }}</td>
            <td>{{ item.created_at|date:"Y年m月d日 h:i:s A"}}</td>
         </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tr>
        <td class="align-center">未找到相关物品</td>
    </tr>
    {% endif %}
</table>
