<script type="text/javascript">
function checkform(obj){
  if(!checkpwd(obj.pass)){
    return false;
  };
}
function checkpwd(obj){
  if(obj.value == "")return false;
  if(obj.value.match(/[^A-Za-z0-9]/ig)){
    alert("密码只能为数字和字母");
    return false;
  }
  return true;
}
</script> 

<form role="form" action="#" method="POST" id="change_password_form" onsubmit="return checkform(this);">
    {% csrf_token %} 
    <div class="form-group">
        <label for="password">旧密码</label>
        <input type="password" maxlength="30" id="password" placeholder="请输入旧密码" class="form-control" name="password"/>
    </div>
    <div class="form-group">
        <label for="new_psw">新密码</label>
        <input type="password" maxlength="30" id="new_psw" placeholder="请输入新密码" class="form-control" name="new_psw" />
    </div>
    <div class="form-group">
        <label for="new_psw2">重复新密码</label>
        <input type="password" maxlength="30" id="new_psw2" placeholder="请重复输入新密码" class="form-control" name="new_psw2""/>
    </div>
   
    <button type="submit" id="submit_changed_password" class="btn btn-primary btn-md" name="submit">修改</button>
    <button type="reset" class="btn btn-info btn-md" name="reset">重置</button>
  </form>
