<form role="form" action="#" method="POST" id="modify_user_form">
    {% csrf_token %}
    <div class="form-group">
        <label for="school_id">学号</label>
        <input type="text" maxlength="30" id="school_id" placeholder="school_id" class="form-control" name="school_id" value="{{ UserProfileForm.school_id }}"/>
    </div>
    <div class="form-group">
        <label for="username">姓名</label>
        <input type="text" maxlength="30" id="username" placeholder="username" class="form-control" name="username" value="{{ UserProfileForm.username }}"/>
    </div>
    <div class="form-group">
        <label for="nickname">昵称</label>
        <input type="text" maxlength="30" id="nickname" placeholder="nickname" class="form-control" name="nickname" required="required" value="{{ UserProfileForm.nickname }}"/>
    </div>
    <div class="form-group">
        <label for="college">学院</label>
        <input type="text" maxlength="30" id="college" placeholder="college" class="form-control" name="college" required="required" value="{{ UserProfileForm.college }}"/>
    </div>
    <div class="form-group">
        <label for="grade">年级</label>
        <input type="text" maxlength="30" id="grade" placeholder="grade" class="form-control" name="grade" required="required" value="{{ UserProfileForm.grade }}"/>
    </div>
    <div class="form-group">
        <label for="major">专业</label>
        <input type="text" maxlength="30" id="major" placeholder="major" class="form-control" name="major" required="required" value="{{ UserProfileForm.major }}"/>
    </div>
    <div class="form-group">
        <label for="gender">性别</label>
	<input type="text" maxlength="30" id="major" placeholder="major" class="form-control" name="gender" required="required" value="{{ UserProfileForm.gender }}"/>
        
    </div>
    <div class="form-group">
        <label for="telephone">电话</label>
        <input type="text" class="form-control" id="qq" placeholder="telephone" name="telephone" required="required" value="{{ UserProfileForm.telephone}}"/>
    </div>
    <div class="form-group">
        <label for="qq">qq</label>
        <input type="textarea" class="form-control" id="qq" placeholder="qq" name="qq" value="{{ UserProfileForm.qq }}"/>
    </div>
    <button type="submit" id="submit_modified_profile" class="btn btn-primary btn-md" name="submit">修改</button>
    <button type="reset" class="btn btn-info btn-md" name="reset">重置</button>
    <button type="reset" class="btn btn-default btn-md" name="reset">返回</button>
</form>

