{% extends "base.html" %}

{% block body %}

<div id="register_form">
    <form action="{% url 'user_register' %}" method="post">
        {% csrf_token %}
        <label for="school_id">用户名</label>
        <input type="text" id="school_id" name="school_id" placeholder="请输入学号">
        <br />
        <label for="jw_password">教务密码</label>
        <input type="password" id="jw_password" name="jw_password" placeholder="请输入教务密码">
        <br />
        <input type="captcha" id="captcha" name="captcha" placeholder="请输入验证码">
        <img src="data:image/jpeg;base64,{{ captcha }}" />
        <br />
        <input type="submit" id="submit" value="register">
    </form>
</div>

{% endblock %}
